@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D95B5B;
}

img {
    border: none;
    transform: scale(0.5);
}

.container {
    text-align: center;
}


h1 {
    font-size: 80px;
    font-family: 'Caveat Brush', cursive;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 38%;
}