site_name: Blogsito
site_url: https://talkysafe143.github.io/blog/
use_directory_urls: true

theme:
  features:
    - navigation.indexes
    - header.autohide
    - content.code.copy
    - content.code.select
    - content.code.annotate
  name: material
  icon:
    logo: fontawesome/solid/poo
  font:
    text: PT Sans
  palette:
    - scheme: default
      primary: black
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - blog:
      categories_allowed:
        - Notas
        - Personal
  - search
  - tags

nav:
  - Blog:
      - blog/index.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
